<div class="container">
  <form (submit)="onSubmit()" [formGroup]="form">
    <input
      (input)="onChange($event)"
      formControlName="newPassword"
      type="password"
      placeholder="Enter new password"
    />
    @if (isSuccessChangePassword) {
    <div class="password-confirmation-change">
      <p>Your password has been changed!</p>
      <p><a [routerLink]="['/login']">Back to login</a></p>
    </div>
    }

    <div class="password-strength">
      <p>Password strength</p>
      <progress
        #progressBar
        max="100"
        [value]="passwordStrenghtValue"
      ></progress>
    </div>

    <input [disabled]="form.invalid || isSuccessChangePassword" type="submit" />
  </form>
</div>
