:host {
  display: grid;
  grid-template-columns: auto auto 1fr;
  height: 100dvh;
  background-color: black;
  position: relative;
}

.error {
  position: absolute;
  left: 50%;
  top: 2%;
  z-index: 999;
}

@media all and (max-width: 750px) {
  :host {
    grid-template-columns: auto;
  }

  :host ::ng-deep router-outlet {
    display: none;
  }

  .error {
    left: 50%;
    top: auto;
    bottom: 2%;
    transform: translate(-50%, -2%);
  }
}
