<div class="hero-section">
  <div class="container">
    <div #title class="title">
      <span style="opacity: 0" class="font-bold">U</span>
      <span style="opacity: 0" class="font-bold">m</span>
      <span style="opacity: 0" class="font-bold">b</span>
      <span style="opacity: 0" class="font-bold">r</span>
      <span style="opacity: 0" class="font-bold">a</span>
      <span style="opacity: 0">L</span>
      <span style="opacity: 0">i</span>
      <span style="opacity: 0">n</span>
      <span style="opacity: 0">k</span>
    </div>

    <h4 style="opacity: 0" #phrase>Connecting the shadows of conversations.</h4>
    <div #buttons style="opacity: 0" class="buttons">
      <button class="btn primary">Try Now!</button>
      <button class="btn secondary">Read More!</button>
    </div>
  </div>

  <app-sphere></app-sphere>
</div>
