<div class="profile-info">
  <div class="left-panel">
    <img class="avatar" [src]="user()?.imageUrl" />
    <h3>{{ user()?.username }}</h3>
  </div>

  <button (click)="changeIsOpen()" type="button">Edit your profile</button>
</div>
<div class="edit-profile">
  <div class="edit-container">
    <p>Email: {{ user()?.email }}</p>
  </div>
  <div class="edit-container">
    <div>
      <span>Username: </span>
      @if (!isEditUsername) {
      <span>{{ user()?.username }}</span>
      }@else {
      <input class="change-input" type="text" [(ngModel)]="username" />
      }
    </div>

    <div class="buttons">
      @if (username.length>0) {
      <button type="button" (click)="updateUsername()">Update</button>
      }
      <button type="button" (click)="editUsername()">
        {{ isEditUsername ? "Cancel" : "Change username" }}
      </button>
    </div>
  </div>
  <div class="edit-container">
    <div>
      <span>Password: </span>
      @if (!isEditPassword) {
      <span> *********</span>
      }@else {
      <input class="change-input" type="password" [(ngModel)]="password" />
      }
    </div>

    <div class="buttons">
      @if (password.length>0) {
      <button type="button" (click)="editPassword()">Update</button>
      }
      <button type="button" (click)="editPassword()">
        {{ isEditPassword ? "Cancel" : "Change password" }}
      </button>
    </div>
  </div>

  <div @openClose *ngIf="isOpen" class="edit-profile-blur"></div>
</div>
