<nav>
  <div class="left">
    <img class="logo_img" src="/logo.png" />
    <h2>Umbra<span class="text_normal">Link</span></h2>
  </div>
  <div class="right">
    <ul>
      <li class="nav-element">
        <a href="#">Home</a>
      </li>
      <li class="nav-element">
        <a href="#">About us</a>
      </li>
      <li class="nav-element">
        <a href="#">Support</a>
      </li>
      <li class="nav-element">
        <a href="#">Blog</a>
      </li>
      <li>
        <a href="#" class="btn">Login</a>
      </li>
    </ul>
  </div>
</nav>
