<nav>
  <div class="left">
    <img class="logo_img" src="/logo.png" />
    <h2>Umbra<span class="text_normal">Link</span></h2>
  </div>
  <div class="middle">
    <ul>
      <li class="nav-element">
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-element">
        <a class="nav-link" href="#">About us</a>
      </li>
      <li class="nav-element">
        <a class="nav-link" href="#">Support</a>
      </li>
      <li class="nav-element">
        <a class="nav-link" href="#">Blog</a>
      </li>
    </ul>
  </div>
  <div class="right">
    <a [routerLink]="['/login']" class="btn">Login</a>
  </div>
</nav>
