:host {
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.errors {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
