<div @changeVisibility class="container">
  <h2>Restore you password</h2>
  <form [formGroup]="form" (submit)="sendRestorePassword()">
    <div class="input-container">
      <img class="icon" src="email.svg" />
      <input
        formControlName="email"
        placeholder="Email"
        class="input"
        type="text"
      />
    </div>
    @if (isReqSuccess) {
    <p>Check your email to proceed with restoring your password</p>
    }

    <input
      [disabled]="form.invalid"
      type="submit"
      [value]="isSendingRequest ? 'Wait...' : 'Restore'"
    />
  </form>
</div>
