<div class="container">
  <div class="login">
    <div class="left">
      <h2>Sign in to Umbra<span class="normal-weight">Link</span></h2>
      <form>
        <div class="input-container">
          <img class="icon" src="email.svg" />
          <input class="input" type="email" placeholder="Email" />
        </div>

        <div class="input-container">
          <img class="icon" src="password.svg" />
          <input class="input" type="password" placeholder="Password" />
        </div>

        <a><p>Forgot your password?</p></a>

        <input type="submit" class="btn-submit" value="Sign In" />
      </form>
    </div>
    <div class="right">
      <h2>Hello, Friend</h2>
      <p>Join the UmbraLink community: Your chat journey begins here.</p>

      <button class="btn-signup">Sign up</button>
    </div>
  </div>
  <div class="register"></div>
</div>
