:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  color: white;
  border: 2px solid white;
  box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  max-width: 70%;
  overflow: hidden;
}

.input-container {
  position: relative;
  width: 100%;
}

.input-container input {
  width: 100%;
}

form a {
  align-self: center;
  cursor: pointer;
}
form p {
  color: gray;
  text-decoration: underline;
}

.btn-submit {
  border: none;
  background-color: white;
  width: 50%;
  margin: auto;
  color: black;
  padding: 2rem 3rem;
  border-radius: 99999px;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-submit:disabled {
  cursor: not-allowed;
  opacity: 50%;
}

.btn-signup {
  border: 1px solid white;
  width: 50%;
  margin: 0 auto;
  color: white;
  padding: 2rem 3rem;
  border-radius: 999999px;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
}

.icon {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}

.input {
  border: none;
  padding: 2rem 3rem;
  background-color: #f3f7f6;
}

.login {
  display: grid;
  grid-template-columns: 70fr 30fr;
  gap: 4rem;
  position: relative;
  width: 100%;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.right {
  border-left: 1px solid white;
  padding: 0rem 5rem;
  color: white;
  right: 0;
}

.right p {
  text-align: center;
}

.left {
  padding: 6rem 5rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

p {
  font-size: 1.25rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.normal-weight {
  font-weight: normal;
}

input.ng-invalid.ng-touched.ng-dirty {
  border: 1px solid red;
}
